.MMM-PrayerTime table {
  width: 280px;
}

.MMM-PrayerTime td {
  width: 190px;
}

.MMM-PrayerTime .occasion-name {
  text-align: center;
}
.MMM-PrayerTime .occasion-time {
  text-align: center;
}

.MMM-PrayerTime .current-prayer {
    color: #FFFF00; /* Bright yellow color */
    font-weight: bold;
    font-size: 110%;
    text-shadow: 0 0 8px rgba(255, 255, 0, 0.5);
}
